@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="col-sm-4" role="form">
    <div class="form-group">
        <label for="parishName">Parroquia:</label>
        <input type="text" class="form-control input-sm" id="parishNameInput" placeholder="Parroquia">
    </div>
   <div class="form-group">
        <label for="parishName">Diocesis:</label>
        <input type="text" class="form-control input-sm" id="parishDioceseInput" placeholder="Diocesis">
   </div>
    <div class="form-group">
        <label for="parishName">Calle y Numero:</label>
        <input type="text" class="form-control input-sm" id="parishStreetInput" placeholder="Calle y Numero">
    </div>
    <div class="form-group">
        <label for="parishName">Colonia:</label>
        <input type="text" class="form-control input-sm" id="parishNeighInput" placeholder="Colonia">
    </div>
    <div class="form-group">
        <label for="parishName">Codigo Postal:</label>
        <input type="text" class="form-control input-sm" id="parishPostalCodeInput" placeholder="Codigo Postal">
    </div>
    <div class="form-group">
        <label for="parishName">Estado:</label>
        <input type="text" class="form-control input-sm" id="parishStateInput" placeholder="Estado">
    </div>
    <div class="form-group">
        <label for="parishName">Municipio:</label>
        <input type="text" class="form-control input-sm" id="parishMunInput" placeholder="Municipio">
    </div>
    <div class="form-group">
        <label for="parishName">Presbiteros:</label>
        <input class="btn btn-default form-control" type="button" value="+ Agregar">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

